<div id="special_offers">
  <% if current_cart -%>
    您总共选择了 <span><%= current_cart.total_books %></span> 本书，总共消费
    <%=number_to_currency current_cart.total_price %>。 <br/>
    <%= link_to '清空购物车', current_cart, :method => :delete, :confirm => "你确定要清空购物车？" %> ｜
     <%= link_to '查看购物车', current_cart %>
  <% else -%>
    <p> 你还没有选择书籍 </p>
  <% end -%>
</div>
<div id="new_books">
  <ul>
    <% Book.last(3).each do |book| %>
    <li> <%= link_to book.title, info_path(:id => book.id) %> </li>
    <% end %>
  </ul>
</div>

